<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý thời kỳ</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Quản lý Thời Kỳ</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="name">Tên thời kỳ:</label>
        {{ form.name }}
        <button type="submit">Thêm Thời Kỳ</button>
    </form>
    <a href="/view-periods">Xem danh sách thời kì</a>
    <!-- <h2>Danh sách Thời Kỳ:</h2>
    <ul>
        {% for period in periods %}
        <li>{{ period.name }}</li>
        {% endfor %}
    </ul> -->
</body>
</html>
