<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Câu Hỏi</title>
</head>
<body>
    <h1>Thêm Câu Hỏi</h1>
    
    <!-- Hiển thị thông báo -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li style="color: green;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.period.label }} {{ form.period() }} <br>
        {{ form.question.label }} {{ form.question() }} <br>
        {{ form.option_a.label }} {{ form.option_a() }} <br>
        {{ form.option_b.label }} {{ form.option_b() }} <br>
        {{ form.option_c.label }} {{ form.option_c() }} <br>
        {{ form.option_d.label }} {{ form.option_d() }} <br>
        {{ form.correct_option.label }} {{ form.correct_option() }} <br>
        {{ form.submit() }}
    </form>
</body>
</html>
