<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách Câu Hỏi</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Danh sách Câu Hỏi</h1>
    <a href="/upload">Thêm Câu Hỏi Mới</a>
    <h2>Danh sách các câu hỏi:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Câu hỏi</th>
                <th>Thời kỳ</th>
                <th>Đáp án A</th>
                <th>Đáp án B</th>
                <th>Đáp án C</th>
                <th>Đáp án D</th>
                <th>Đáp án đúng</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{ question.question }}</td>
                <td>{{ question.period_name }}</td>
                <td>{{ question.options.A }}</td>
                <td>{{ question.options.B }}</td>
                <td>{{ question.options.C }}</td>
                <td>{{ question.options.D }}</td>
                <td>{{ question.correct_option }}</td>
                <td>
                    <a href="{{ url_for('delete_question', question_id=question._id) }}" onclick="return confirm('Bạn có chắc chắn muốn xóa câu hỏi này?');">Xóa</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
